/*оформление шапки сайта*/
header{
    width: 100%;
    background: oldlace;
    position: sticky;
    top: 0px;
    font-family: 'Source Serif Pro', Times, serif;
    border: 1px solid rgb(80, 15, 15);
    z-index: 2;
}
.title{
    font-size: 36px;
    padding: 10px;
    text-align: center;
}
.menu{
    list-style: none;
    margin: 30px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
}
.menu li {display: inline-block;}
.menu li:after {
    content: "|";
    display: inline-block;
    vertical-align:top;
}
.menu li:last-child:after {content: none;}
.menu a{
    text-decoration: none;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
}
.menu a, .menu a:visited {color:black;}
.menu a.current, .menu a:hover {color:rgb(80, 15, 15);}
@media (max-width: 550px) {
    header {position: static;}
    .menu {padding-top: 0;}
    .menu li {display: block;}
    .menu li:after {content: none;}
    .menu a {
      padding: 25px 0 20px; 
      margin: 0 30px;
    }
}
/*оформление основного контента страницы*/
main{
    
    margin: auto;
    padding: 20px;
    font-size: 17px;
    background-color: antiquewhite;
    font-family: 'Source Serif Pro', Times, serif;
    border: 1px solid rgb(80, 15, 15);
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.image{
    float:left;
    margin: 10px 20px;
}
/*оформление подвала сайта*/
footer{
    width: 100%;
    background: oldlace;
    border: 1px solid rgb(80, 15, 15);
}
address{
    display:flex;
    justify-content: center;
    align-items: center;
}
.button {
    background-color: antiquewhite;
    border-color: rgb(85, 49, 8);
    border-radius: 5%;
    transition-duration: 0.8s;
    display:inline-block;
    transition: ease-out 0.8s;
    padding: 2%;
    margin: 5%;
    font-family: 'Source Serif Pro', Times, serif;
}
.button a{
    text-decoration: none;
    color: rgb(85, 49, 8);
    font-size: larger;
}
.button:hover{
    box-shadow: inset 400px 0 0 0 rgb(85, 49, 8);
}
.button:hover a{
    color: antiquewhite;
}
/*Оформление галереи*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*оформление словаря художника*/
.dictpic{text-align: center;}